
.hours{
  font-size:.8rem;
}

#rating{
  right: 0.625rem;
  top: 0.25rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background:rgb(198, 34, 50);
}

#rating p {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;

}

.reviewCard__title{
  font-size:1rem;
}

@media screen and (max-width: 1200px) {
  /* icebox */
}