.brand-logo {
  margin-left: 1rem;
}

.card .card-content .card-title {
  margin-bottom: 0.625rem;
}

#search-row form {
  padding-top: 1.25rem;
}

.student-name {
  position: relative;
  top: -0.313rem;
}

.collection-item form {
  margin-top: -0.313rem;
}

.reviewCard__title{
 font-size: 0.875rem;
 font-weight: bold;
 margin-bottom: 0;
}

.reviewCard__location{
  color: rgb(34, 34, 34);
  font-size:0.75rem;
  margin-bottom:0;
}

.rating{
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid rgb(198, 34, 50);
  background: rgb(255, 255, 255);
}

.rating p {
  font-size: 1.3rem;
  color: red;
  text-align: center;
  align-items: center;
  margin-top: 0.5rem;
}

.reviews .card{
  margin:0.313rem;
}

.card-body{
  padding:.8rem
}

.form-label{
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color:#586069;
  padding-bottom:0;
  margin-bottom:0;
}

.mr-auto{
  margin-right:auto;
}

#login{
  margin-right:1rem;
}

.image-container{
  max-height:70vh; 
  overflow:hidden;
}
.card{
  width:100%;
}

.navbar-collapse{
  margin-left: 1rem;
}

/* Landscape phones and portrait tablets */
@media (min-width: 767px) {
  .card{
    max-width:48%;
  }
  .image-container{
    max-height:50vh; 
  }
}

.rating{
  z-index: 2;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.rating p {
  font-size: 0.9rem;
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px)  {
  .card{
    max-width:30%;
  }
  .image-container{
    max-height:40vh; 
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .card{
    max-width:24%;
  }
}
